#heading {
  text-align: center;
  color: #25afd9;
  font-size: 3rem;
}

#calender {
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  border-top: 2px solid #cacaca;
  border-bottom: 2px solid #cacaca;
}

button {
  color: #25afd9;
}